<div class="widget widget-search">
  <div class="widget__header">
    <span class="widget__title">Search Posts</span>
  </div>
  <div class="widget-search__box">
    <label class="screen-reader-text" for="postsSearchInput">Search posts</label>
    <input type="text" id="postsSearchInput" class="widget-search__input" autocomplete="off" placeholder="Type to search...">
    <span class="widget-search__icon"><i class="fa-solid fa-magnifying-glass"></i></span>
  </div>
  <ul class="search-results-list list-reset" id="postsSearchResults"></ul>
</div>
