{% for post in site.posts %}
  {% if post.featured == true %}
    {% assign is-featured = true %}
  {% endif %}
{% endfor %}

{% if is-featured == true %}
<div class="widget widget-featured-posts">
  <div class="widget__header">
    <span class="widget__title">Recommended</span>
  </div>
  <div class="post-mini-list">
    {% assign featured_posts = site.posts | where: "featured", true | limit: 5 %}
    {% for post in featured_posts %}
    <div class="post-mini">
      {% if post.image %}
      <a href="{{ post.url | relative_url }}" class="post-mini__image">
        <img class="lazy" data-src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}">
      </a>
      {% endif %}
      <div class="post-mini__content">
        {% if post.tags.size >= 1 %}
        <span class="post-mini__category">{{ post.tags[0] }}</span>
        {% endif %}
        <h3 class="post-mini__title">
          <a href="{{ post.url | relative_url }}" class="post-mini__link">{{ post.title }}</a>
        </h3>
        <time class="post-mini__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
